/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Util */

@media only screen and (max-width: 400px) {
    .mt-8 {
        margin-top: 5rem !important;
    }

    .row {
        margin-top: 0 !important;
    }
}

.fs-2px {
    font-size: 0.8em;
}

.mt-20 {
    margin-top: 0;
}

.card {
    margin-left: auto;
    margin-right: auto;
    min-width: 16rem !important;
    max-width: 16rem;
    border: none !important;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mt-8 {
    margin-top: 8rem;
}

a {
    text-decoration: none !important;
}

.bg-red-500 {
    background-color: #db1b1bfe !important;
}

.row-50 {
    width: 50%;
}

.container {
    height: 100%;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End of Utils */

/* .wrapper {
    margin-top: auto;
    margin-bottom: 0 !important;
    margin-bottom: 0 !important;
    height: 100%;
} */

.wrapper-card {
    margin-top: auto;
    margin-bottom: auto;
}

.col {
    float: left;
    width: 50%;
    background-color: white;
    padding-top: 2rem;
    margin-top: auto !important;
    margin-bottom: auto !important;
    /* height: 100vh; */
}


.row {
    /* height: 96vh; */
    content: '';
    display: table;
    clear: both;
    background-color: white;

}

/* End of Util  */

/* Dekstop */
.navbar {
    transition: 0.5s;
    background-color: rgb(36, 36, 36);
}

#navbar {
    padding: 1.2rem 0.5rem;
}

#navfont {
    font-size: 1rem;
}

#logo {
    font-size: 1.6rem;
    font-weight: bold;
}

@media only screen and (max-width: 1600) {
    #navbar {
        padding: 2.2rem 0.5rem;
    }

    #logo {
        font-size: 1.2rem;
        font-weight: bold;
    }

    #navfont {
        font-size: 1rem;
    }
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .navbar {
        background-color: #1c1c1cfe;
    }

    #navbar {
        padding: 0.6em 0.5em;
    }

    rem #navfont {
        font-size: 1rem;
    }

    #logo {
        font-size: 1.4rem;
    }
}


/* div.container.container-navbar {
    width: 90%;
} */

.navbar p {
    color: white;
    text-decoration: none;
    margin: 0;
}

.navbar button {
    background-color: #e16363;
}

.navbar a {
    text-decoration: none;
    color: white;
}

ul .dropdown-menu {
    background-color: black;
}

/* Carousel */
.carousel-item {
    max-height: 100vh;
    height: 100%;
}

.img-carousel {
    opacity: 0.5;
    height: 100%;
}

.dark {
    background-color: black;
}

.container.c-1 {
    margin-top: 4em;
}

.container.ibra {
    background-image: url('../images/Jumbotron\ Ibra.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Footer */


.footer {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

/* End of Container */

.carousel.slide {
    height: fit-content;
    overflow-y: hidden;
}

.produck-dashboard,
.detail-dashboard {
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.detail-dashboard {
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    padding-bottom: 4rem;
}

.produck-dashboard {
    margin-bottom: 4rem;
}


/* Profile */
div.bg-white {
    /* margin-top: 4rem !important; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



/* .col-modal {
    width: 80%;
} */


.col-img {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

img.col-img {
    image-rendering: auto;
}

/* Box */
/* .border {
    height: 4rem;
} */

p {
    margin: 0rem !important;
}

@media only screen and (max-width: 400px) {
    .col.col-modal {
        height: 76vh;
    }

    div.row {
        height: auto;
        /* height: 76vh; */
        content: none;
        display: flex;
        margin-top: 4rem;
        /* height: 90vh;
        content: '';
        display: table;
        clear: both; */

        background-color: white;
    }

    /* div.row.title {
        height: 100%;
    } */

    div.col.col-img {
        display: none;
        visibility: hidden;
    }



    .min-h-screen {
        height: 0vh !important;
    }
}

/* Detail */
.base {
    padding-top: 3rem;
}


.detail-container {
    width: 50%;
    padding-bottom: 2rem;
}

.wrapper-card {
    height: 100vh;
}

.text-md {
    padding: 0;
}

/* transaction*/
.status {
    padding-left: 2rem;
    text-align: right;

}

.card-transaction {
    position: relative;
}

/* Order */
.col.orderHistory {
    display: flex;
    flex: 0 0 0% !important;
}

/* btnJtr */
@media only screen and (max-width:400px) {
    .cta {
        padding: 6px 10px !important;
        font-size: 16px !important;
    }

    .btnSvg {
        width: 36px !important;
        height: 23px !important;
    }
}


.wrapper-btnJtr {
    display: flex;
    justify-content: center;
}

.btnSvg {
    width: 66px;
    height: 43px;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    color: white;
    font-size: 2rem;
}


.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span.visibility {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span.visibility {
    transition: 0.5s;
    margin-right: 45px;
}

span.visibility {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}